{% extends 'index.html' %}
{% block content %}
    <div id="wrapper2">

        <div id="main" role="main">


            <div id="system-message-container">
            </div>
            <article class="item-page">



                <p style="color: #4e4e4e; font-family: Tahoma, Geneva, sans-serif; font-size: 12px; text-align: start;">
                    <strong>Адрес:</strong>&nbsp;<strong>&nbsp;Москва, Походный &nbsp;проезд, дом 5, стр.
                    11<br></strong></p>
                <p style="color: #4e4e4e; font-family: Tahoma, Geneva, sans-serif; font-size: 12px; text-align: start;">
                    <strong>Телефон:&nbsp;<strong
                            style="color: #4e4e4e; font-family: Tahoma, Geneva, sans-serif; font-size: 12px; text-align: start;">+7
                        (499)-703-48-45</strong></strong></p>
                <p style="color: #4e4e4e; font-family: Tahoma, Geneva, sans-serif; font-size: 12px; text-align: start;">
                    <strong>E-mail бухгалтерии:
                        <script type="text/javascript">
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy70047 = 'b&#117;h' + '&#64;';
                            addy70047 = addy70047 + 'tsl-l&#105;ft' + '&#46;' + 'r&#117;';
                            var addy_text70047 = 'b&#117;h' + '&#64;' + 'tsl-l&#105;ft' + '&#46;' + 'r&#117;';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy70047 + '\'>');
                            document.write(addy_text70047);
                            document.write('<\/a>');
                            //-->
                           </script>
                        <a href="mailto:buh@tslplus.ru"></a>
                        <script type="text/javascript">
                            <!--
                            document.write('<span style=\'display: none;\'>');
                            //-->
                        </script><span style="display: none;">Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.
 <script type="text/javascript">
     <!--
     document.write('</');
     document.write('span>');
     //-->
 </script></span>&nbsp;</strong></p>
                <p style="color: #4e4e4e; font-family: Tahoma, Geneva, sans-serif; font-size: 12px; text-align: start;">
                    <strong>E-mail:</strong>
                        <script type="text/javascript">
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy9281 = 'z&#105;p' + '&#64;';
                            addy9281 = addy9281 + 'tsl-l&#105;ft' + '&#46;' + 'r&#117;';
                            var addy_text9281 = 'z&#105;p' + '&#64;' + 'tsl-l&#105;ft' + '&#46;' + 'r&#117;';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy9281 + '\'>');
                            document.write(addy_text9281);
                            document.write('<\/a>');
                            //-->
                            </script>
                        <a href="mailto:zip@tslplus.ru"></a>
                        <script type="text/javascript">
                            <!--
                            document.write('<span style=\'display: none;\'>');
                            //-->
                        </script>
                        <span style="display: none;">Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.</span>
                         <script type="text/javascript">
                             <!--
                             document.write('</');
                             document.write('span>');
                             //-->
                         </script>&nbsp;
                        <script type="text/javascript">
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy95628 = 'l&#105;ftz&#97;k&#97;z' + '&#64;';
                            addy95628 = addy95628 + 'Gm&#97;&#105;l' + '&#46;' + 'c&#111;m';
                            var addy_text95628 = 'l&#105;ftz&#97;k&#97;z' + '&#64;' + 'Gm&#97;&#105;l' + '&#46;' + 'c&#111;m';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy95628 + '\'>');
                            document.write(addy_text95628);
                            document.write('<\/a>');
                            //-->

                             </script>

                <hr>
                <p style="color: #4e4e4e; font-family: Tahoma, Geneva, sans-serif; font-size: 12px; text-align: start;">
                <strong>Юрисконсульт:</strong> 8-915-499-58-08
                <p style="color: #4e4e4e; font-family: Tahoma, Geneva, sans-serif; font-size: 12px; text-align: start;"><strong>E-mail:</strong> <a href="mailto:lawyer@tslplus.ru">lawyer@tslplus.ru</a></p>
                <hr>

                        <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=1TDGMJKm9hH_Znz3qkLu4__kgMQF0LEO&width=603&height=464&lang=ru_RU&sourceType=constructor"></script>
            </article>


        </div><!-- end main -->

    </div>
   {% endblock %}