{% extends 'index.html' %}
{% block content %}
    <div id="wrapper2">

        <div id="main" role="main">


            <div id="system-message-container">
            </div>
            <article class="item-page">



                <p style="color: #4e4e4e; font-family: Tahoma, Geneva, sans-serif; font-size: 12px; text-align: start;">
                    <strong>Адрес:</strong>&nbsp;<strong>&nbsp;125362  ул Свободы 35 стр 14 , проходная № 2<br></strong></p>
                <p style="color: #4e4e4e; font-family: Tahoma, Geneva, sans-serif; font-size: 12px; text-align: start;">
                    <strong>Телефон:&nbsp;<strong
                            style="color: #4e4e4e; font-family: Tahoma, Geneva, sans-serif; font-size: 12px; text-align: start;">+7
                        (499)-703-48-45</strong></strong></p>
                <p style="color: #4e4e4e; font-family: Tahoma, Geneva, sans-serif; font-size: 12px; text-align: start;">
                    <strong>E-mail бухгалтерии: </strong> <a href="mailto:buh@tslplus.ru">buh@tslplus.ru</a></p>




 
                <hr>
                <p style="color: #4e4e4e; font-family: Tahoma, Geneva, sans-serif; font-size: 12px; text-align: start;">
                <strong>Юрисконсульт:</strong> 8-915-499-58-08
                <p style="color: #4e4e4e; font-family: Tahoma, Geneva, sans-serif; font-size: 12px; text-align: start;"><strong>E-mail:</strong> <a href="mailto:lawyer@tslplus.ru">lawyer@tslplus.ru</a></p>
                <hr>

                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A23d72cdd1cf3db5af0c8299afeb049c6d661216988339532592b2599eb5e7775&amp;width=608&amp;height=528&amp;lang=ru_RU&amp;scroll=true"></script>

            </article>


        </div><!-- end main -->

    </div>
   {% endblock %}