{% extends 'index.html' %}
{% block content %}
    <article class="item-page">



        <p style="text-align: center;"><strong
                style="color: #008000; font-family: arial, helvetica, sans-serif; font-size: 16.016px;">ООО "ТСЛ
            ПЛЮС"</strong></p>
        <p style="text-align: center;"><strong><span style="font-family: arial, helvetica, sans-serif;">Мы рады видеть Вас на нашем сайте</span></strong>
        </p>
        <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif;">Поставка и монтаж лифтового оборудования</span>
        </p>
        <p style="text-align: justify;"><span style="font-family: arial, helvetica, sans-serif;">Лифты в настоящее время являются обязательным атрибутом комфорта и удобства, без которого сложно предположить современные строения. Лифтом принято назвать один из видов транспорта, который используются для вертикального&nbsp;<strong>перемещения
            людей и</strong>&nbsp;грузов.</span></p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 13px; line-height: 18.2000007629395px; text-align: justify;">
            <span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">Самый первый электролифт был запатентован для мира в&nbsp;1861&nbsp;году Отисом. Именно ему мы обязаны таким ценнейшим механизмом, как ловитель.</span>
        </p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 13px; line-height: 18.2000007629395px; text-align: justify;">
            <span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">ООО "ТСЛ ПЛЮС" работает с оборудованием основных заводов по производству лифтов и запасных частей к ним:</span>
        </p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 13px; line-height: 18.2000007629395px; text-align: justify;">
            <span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">&nbsp;<a
                    href="http://www.kmzlift.ru/" target="_blank" style="color: #0077cc;"><span style="color: #0000ff;"><span
                    lang="RU">ОАО «Карачаровский механический завод</span></span><span
                    style="color: #0000ff;">» (</span><span style="color: #0000ff;">КМЗ)</span></a><span
                    lang="RU">,</span></span></p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 13px; line-height: 18.2000007629395px; text-align: justify;">
            <span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;"><span lang="RU">&nbsp;</span><a
                    href="http://www.shlz.ru/" target="_blank" style="color: #0077cc;"><span
                    style="color: #0000ff;"><span lang="RU">ОАО «Щербинский лифтостроительный завод</span></span><span
                    style="color: #0000ff;">» (</span><span style="color: #0000ff;">ЩЛЗ)</span></a><span
                    lang="RU">,</span></span></p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 13px; line-height: 18.2000007629395px; text-align: justify;">
            <span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;"><span lang="RU">&nbsp;</span><a
                    href="http://www.liftmach.by/" target="_blank" style="color: #0077cc;"><span
                    style="color: #0000ff;"><span lang="RU">РУП завод «Могилевлифтмаш</span></span><span
                    style="color: #0000ff;">» (</span><span style="color: #0000ff;">МЛЗ)</span></a><span lang="RU">&nbsp;</span></span>
        </p>
        <p style="font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 13px; line-height: 18.2000007629395px; text-align: justify;">
            <span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;"><span lang="RU">и многих других предприятий, выпускающих лифтовые запчасти.</span></span>
        </p>
        <p style="text-align: justify;"><strong><span
                style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Наши задачи:</span></strong></p>
        <p style="text-align: justify;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">- Индивидуальный подход к каждому клиенту</span>
        </p>
        <p style="text-align: justify;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">-Своевременная доставка и установка оборудования</span>
        </p>
        <p style="text-align: justify;"><strong><span
                style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Наши цели</span></strong></p>
        <p style="text-align: justify;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">:- Заинтересовать Вас в долгосрочном и взаимовыгодном сотрудничестве с Нами.</span>
        </p>
        <p><span style="font-size: 12pt;"><span style="color: #ff0000; font-size: 16.016px;">&nbsp;</span></span></p>
    </article>

{% endblock %}