{% extends 'index.html' %}
{% block content %}
    <table class="table">
    {% for part in parts %}
        <tr>
               <td>{{ part.name }}</td>
        <td>{{ part.description }}</td>
               <td><a href="/part/{{ part.id }}"><img src="{{ part.image.url }}" width="100"></a></td>
        <td>{{ part.price }}&nbsp;руб.</td>
        <td>
            <form action="." method="post">
                {% csrf_token %}
                <input type="number" name="amount" value="1" style="width: 40px;">
                <input type="submit" value="В корзину">
                <input type="hidden" value="{{ part.id}}" name="part_id">
            </form>

        </td>
        </tr>
    {% endfor %}
    </table>
<nav>
  <ul class="pagination">
    <li>
      {% if kind == 1 %}
        <li><a href="/parts?page=1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>

      {% elif kind == 2 %}
        <li><a href="/board?page=1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>

      {% elif kind == 3 %}
         <li><a href="/otis?page=1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
      {% endif %}
    </li>
      {% for i in total_pages %}
          {% if kind == 1 %}
          <li><a href="/parts?page={{ i }}">{% if current_page == i %} <strong> {% endif %}{{ i }}{% if current_page == i %} </strong> {% endif %}</a></li>

          {% elif kind == 2 %}
          <li><a href="/board?page={{ i }}">{% if current_page == i %} <strong> {% endif %}{{ i }}{% if current_page == i %} </strong> {% endif %}</a></li>

          {% elif kind == 3 %}
          <li><a href="/otis?page={{ i }}">{% if current_page == i %} <strong> {% endif %}{{ i }}{% if current_page == i %} </strong> {% endif %}</a></li>
          {% endif %}
      {% endfor %}
    <li>
      {% if kind == 1 %}
        <li><a href="/parts?page={{ last_page }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>

      {% elif kind == 2 %}
        <li><a href="/board?page={{ last_page }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>

      {% elif kind == 3 %}
         <li><a href="/otis?page={{ last_page }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
      {% endif %}
  </ul>
</nav>
{% endblock %}